@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0, 0%, 100%);
    --foreground: hsl(222.2, 84%, 4.9%);

    --card: hsl(0, 0%, 100%);
    --card-foreground: hsl(222.2, 84%, 4.9%);

    --popover: hsl(0, 0%, 100%);
    --popover-foreground: hsl(222.2, 84%, 4.9%);

    --primary: hsl(155, 66%, 32%);
    --primary-foreground: hsl(210, 40%, 98%);
    --primary-400: hsl(155, 63%, 38%);

    --secondary: hsl(240, 1%, 27%);
    --secondary-foreground: hsl(210, 40%, 98%);
    --secondary-blue: hsl(233, 58%, 50%);
    --secondary-400: hsl(240, 0%, 33%);

    --muted: hsl(210, 40%, 96.1%);
    --muted-foreground: hsl(215.4, 16.3%, 46.9%);

    --accent: hsl(210, 40%, 96.1%);
    --accent-foreground: hsl(222.2, 47.4%, 11.2%);

    --destructive: hsl(0, 58%, 50%);
    --destructive-foreground: hsl(210, 40%, 98%);
    --destructive-400: hsl(0, 55%, 56%);

    --border: hsl(0, 0%, 76%);
    --input: hsl(0, 0%, 76%);
    --ring: hsl(215.4, 16.3%, 46.9%);

    --radius: 0.5rem;

    --chart-1: var(--primary);
    --chart-2: hsl(145.8, 77.8%, 46.7%);
    --chart-3: hsl(149.8, 74.8%, 38.7%);
    --chart-4: hsl(143.8, 80.8%, 56.7%);
    --chart-5: hsl(145.8, 79.8%, 65.7%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
